/******************************* Contenido *******************************/

.main-content {
  margin-top: 4%;
  padding: 20px;
  /* background-color: #555; */
  text-align: justify;
}

/******************************* Sección sobre nosotros *******************************/

.about {
  margin-bottom: 30px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .about {
    margin-top: 25% !important;
  }
}

.about__title {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #444;
}

.about__description {
  font-size: 1rem;
  color: #555;
}

.about__description-video {
  width: 50%;
  margin: auto;
}

/******************************* Sección sobre valores *******************************/

.values {
  margin-bottom: 10px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.values__title {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #444;
}

.values__list {
  margin-top: 10px;
  margin-left: 5%;
}

.about-us__value-card {
}
.about-us__value-title {
  font-weight: bold;
}

/******************************* Sección sobre equipo *******************************/

.team {
  margin-bottom: 30px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.team__title {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #444;
}

.team__description {
  font-size: 1rem;
  color: #555;
}

/* From Uiverse.io by gharsh11032000 */
.team__owner-card {
  position: relative;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.team__owner-card img {
  width: 100%;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.team__owner-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.team__owner-card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.team__owner-card:hover .team__owner-card-content {
  transform: rotateX(0deg);
}

.team__owner-card-title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.team__owner-card:hover img {
  scale: 0;
}
