:root {
  --serie-black: hsla(0, 2%, 11%, 1);
  --poppy: hsla(0, 67%, 53%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --viridian: hsla(154, 15%, 49%, 1);
  --platinum: hsla(0, 0%, 87%, 1);
  --success: #04aa6d;
  --success-transition: #46a049;
  --danger: #f44336;
  /* rgb(255, 114, 109) */
  --danger-transition: #da190b;
  /* rgb(255, 73, 66) */
}

* {
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin {
  width: 100%;
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: var(--viridian);
  width: 15%;
  height: 100vh;
}

.sidebar__logo img {
  width: 100%;
  height: auto;
}

.sidebar__content {
  padding: 10px;
}

.sidebar__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 2%;
  margin-top: 40%;
}

.sidebar__item {
  padding: 5%;
  height: 50px;
  font-size: 20px;
  margin-top: 3%;
  border-bottom: 2px solid rgb(74, 108, 93);
  transition: background-color 0.3s, color 0.3s;
}

.sidebar__link {
  color: var(--platinum);
  text-decoration: none;
  padding-left: 5%;
  transition: color 0.3s;
}

.sidebar__item i {
  color: var(--platinum);
  transition: color 0.3s;
}

.sidebar__item:hover .sidebar__link,
.sidebar__item:hover i {
  color: var(--white);
}

.menu {
  background-color: var(--platinum);
  width: 85%;
  height: max-content;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.menu__section {
  padding: 15px;
  margin-top: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  height: max-content;
}

.menu__section--hidden {
  display: none;
}

/**LOQUEARRRRR*/

/* From Uiverse.io by vinodjangid07 */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  z-index: 999; /* Asegúrate de que esté sobre otros elementos */
}

.modal__container {
  width: fit-content; /*Para que se ajuste siempre al contenido que se muestra en el modal y no de problemas*/
  max-width: 500px;
  background: var(--white);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px; /*Separacion entre los elementos hijos del contenedors*/
  padding: 30px; /* Separación entre el borde del contenedor y su contenido*/
  position: relative;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.068);
}
.modal__content {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.modal__title {
  font-size: 20px; /* Tamaño del texto */
  font-weight: 800; /* Grosor del texto */
  color: rgb(27, 27, 27);
}
.modal__body-content {
  font-weight: 350;
  color: rgb(102, 102, 102);
}
.modal__buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.modal__button {
  width: 50%;
  height: 35px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
.modal__button--confirm {
  background-color: var(--success);
  color: white;
}
.modal__button--confirm:hover {
  background-color: var(--success-transition);
}
.modal__button--cancel {
  background-color: #ddd;
}
.modal__button--cancel:hover {
  background-color: rgb(197, 197, 197);
}
.modal__close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none; /* Quitar borde */
  background-color: transparent; /* Fondo transparente en vez de gris */
  position: absolute; /* Se pegará al contenedor más cercano, "modal__container, este tiene position:relative" */
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.modal__close-button:hover {
  color: rgb(255, 73, 66);
  transition: color 0.4s;
}

/*TABLAS*/

/* Clase base para todas las tablas */
/* Estilos generales para todas las tablas */
.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1rem;
  text-align: left;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #f1f1f1;
  font-weight: bold;
  text-transform: uppercase;
}

/******************************TOURNAMENT BRACCKET *************************************************/

.tournament__bracket {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: normal;
  flex-wrap: wrap; /* Permitir que las rondas se acomoden en varias filas si es necesario(Si ya no hay espacio) */
  height: 90%;
  width: 100%;
  margin: 0;
  gap: 20px; /* Espacio entre rondas */
}

/* Rondas */
.tournament__bracket-round {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: auto; /* Permitir que crezca dinámicamente */
  width: 25%; /* Ancho inicial para rondas en pantallas grandes */
  min-width: 200px; /* Ancho mínimo para rondas en pantallas pequeñas */
}

/* Matches */
.tournament__bracket-match {
  background-color: var(--platinum);
  border: 1px solid var(--serie-black); /* Borde sutil */
  border-radius: 8px; /* Bordes redondeados */
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%; /* Se ajusta al ancho de la columna */
}

/* Fecha del partido */
.tournament__bracket-date {
  font-size: 12px;
  color: var(--serie-black);
  text-align: center;
  margin-bottom: 5px;
}

/* Resultados */
.tournament__bracket-score {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: var(--success);
  margin-bottom: 5px;
}

/* Participantes */
.tournament__bracket-participants {
  display: flex;
  justify-content: space-around; /* Separa los participantes */
  align-items: center;
  gap: 10px;
  min-width: 120px;
  max-width: 100%;

  /* flex-wrap: wrap; */
}

.tournament__bracket-participant {
  display: flex;
  align-items: center; /* Centrar texto con imagen de participante */
  justify-content: space-around;
  gap: 5px;
  flex-wrap: wrap;
  max-width: 45%;
  min-width: 110px;
}

.tournament__bracket-participant-alias {
  font-size: 14px;
  font-weight: bold;
  color: var(--serie-black);
}

.tournament__bracket-participant-logo {
  font-size: 24px;
  color: var(--viridian);
}

/* Responsive: Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .tournament__bracket {
    flex-direction: column;
    align-items: center;
  }

  .tournament__bracket-round {
    width: 90%; /* Las rondas ocupan casi todo el ancho en móviles */
    min-width: unset; /* Quitar el ancho mínimo */
  }

  .tournament__bracket-match {
    margin: 15px 0; /* Más espacio entre los matches */
  }

  .tournament__bracket-participants {
    flex-direction: column; /* Participantes uno encima del otro */
    gap: 5px;
  }

  .tournament__bracket-participant-logo {
    font-size: 20px;
  }

  .tournament__bracket-participant-alias {
    font-size: 12px;
  }
}

/* Ajustes para pantallas muy pequeñas (menos de 480px) */
@media (max-width: 480px) {
  .tournament__bracket-match {
    padding: 8px;
  }

  .tournament__bracket-date {
    font-size: 10px;
  }

  .tournament__bracket-score {
    font-size: 14px;
  }
}

/* Efectos de hover para los participantes (cuando se pasa el ratón por encima) */
.tournament__bracket-first-participant:hover,
.tournament__bracket-second-participant:hover {
  background-color: var(--viridian); /* Color de fondo verde para resaltar */
  color: var(--white); /* Cambiar texto a blanco */
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

/* .vs::before {
  content: "VS";
  color: var(--serie-black);
} */

/* Arreglar estilo */
.tela {
  display: flex;
  justify-content: space-evenly;
}

.tournaments__menu-section {
  height: 100%;
}
.tournaments__filter {
  position: fixed;
}

/**FORMULARIO DE VOTACION DE RONDAS **/
.round-vote-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.round-vote-form__video-container {
  text-align: center;
  margin-bottom: 20px;
}

.round-vote-form__criteria-item {
  margin-bottom: 15px;
}

.round-vote-form__label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.round-vote-form__input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.round-vote-form__input {
  width: 88%;
}
.round-vote-form__input-value {
  width: 10%;
  padding: 2%;
}

/* Estilo del track (la línea de fondo del slider) */
input[type="range"] {
  -webkit-appearance: none; /* Elimina el estilo por defecto en navegadores webkit */
  height: 8px; /* Altura del track */
  background: #ddd; /* Color del track */
  border-radius: 5px; /* Esquinas redondeadas */
  outline: none; /* Elimina el borde al hacer focus */
  transition: background 0.3s;
}

input[type="range"]:hover {
  background: #ccc; /* Cambia el color al pasar el mouse */
}

/* Estilo del thumb (el indicador deslizante) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Elimina el estilo por defecto */
  width: 20px; /* Ancho del thumb */
  height: 20px; /* Altura del thumb */
  background: var(--poppy); /* Color del thumb */
  border-radius: 50%; /* Hace el thumb redondo */
  cursor: pointer; /* Cambia el cursor al pasar por el thumb */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Añade una sombra */
  transition: background 0.3s;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: var(
    --danger-transition
  ); /* Cambia el color al pasar el mouse por el thumb */
}

/* Estilo del track en navegadores webkit */
input[type="range"]::-webkit-slider-runnable-track {
  background: #ddd;
  border-radius: 5px;
  height: 10px;
}

/* Estilo del thumb en navegadores Firefox */
input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #007bff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* Estilo del track en navegadores Firefox */
input[type="range"]::-moz-range-track {
  background: #ddd;
  border-radius: 5px;
  height: 8px;
}

/* Estilo del thumb en Internet Explorer */
input[type="range"]::-ms-thumb {
  width: 20px;
  height: 20px;
  background: #007bff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* Estilo del track en Internet Explorer */
input[type="range"]::-ms-track {
  /* background: transparent;
  border-color: transparent; */
  border-width: 6px 0;
  /* color: transparent; */
}
