:root {
  --serie-black: hsla(0, 2%, 11%, 1);
  --poppy: hsla(0, 67%, 53%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --viridian: hsla(154, 15%, 49%, 1);
  --platinum: hsla(0, 0%, 87%, 1);
  --success: #04aa6d;
  --success-transition: #46a049;
  --danger: #f44336;
  /* rgb(255, 114, 109) */
  --danger-transition: #da190b;
  /* rgb(255, 73, 66) */
}

* {
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin {
  width: 100%;
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: var(--viridian);
  width: 15%;
  height: 100vh;
}

.sidebar__logo img {
  width: 100%;
  height: auto;
}

.sidebar__content {
  padding: 10px;
}

.sidebar__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 2%;
  margin-top: 40%;
}

.sidebar__item {
  padding: 5%;
  height: 50px;
  font-size: 20px;
  margin-top: 3%;
  border-bottom: 2px solid rgb(74, 108, 93);
  transition: background-color 0.3s, color 0.3s;
}

.sidebar__link {
  color: var(--platinum);
  text-decoration: none;
  padding-left: 5%;
  transition: color 0.3s;
}

.sidebar__item i {
  color: var(--platinum);
  transition: color 0.3s;
}

.sidebar__item:hover .sidebar__link,
.sidebar__item:hover i {
  color: var(--white);
}

.menu {
  background-color: var(--platinum);
  width: 85%;
  height: 100vh;
  padding: 20px;
}

.menu__section {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 20px;
}

.menu__section--hidden {
  display: none;
}

/**LOQUEARRRRR*/

/* From Uiverse.io by vinodjangid07 */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  z-index: 999; /* Asegúrate de que esté sobre otros elementos */
}

.modal__container {
  width: 300px;
  /* height: fit-content; */
  max-width: 500px;
  background: var(--white);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px; /*Separacion entre los elementos hijos del contenedors*/
  padding: 30px; /* Separación entre el borde del contenedor y su contenido*/
  position: relative;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.068);
}
.modal__content {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.modal__title {
  font-size: 20px; /* Tamaño del texto */
  font-weight: 800; /* Grosor del texto */
  color: rgb(27, 27, 27);
}
.modal__body-content {
  font-weight: 350;
  color: rgb(102, 102, 102);
}
.modal__buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.modal__button {
  width: 50%;
  height: 35px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
.modal__button--confirm {
  background-color: var(--success);
  color: white;
}
.modal__button--confirm:hover {
  background-color: var(--success-transition);
}
.modal__button--cancel {
  background-color: #ddd;
}
.modal__button--cancel:hover {
  background-color: rgb(197, 197, 197);
}
.modal__close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none; /* Quitar borde */
  background-color: transparent; /* Fondo transparente en vez de gris */
  position: absolute; /* Se pegará al contenedor más cercano, "modal__container, este tiene position:relative" */
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.modal__close-button:hover {
  color: rgb(255, 73, 66);
  transition: color 0.4s;
}

/*TABLAS*/

/* Clase base para todas las tablas */
/* Estilos generales para todas las tablas */
.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1rem;
  text-align: left;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #f1f1f1;
  font-weight: bold;
  text-transform: uppercase;
}
