root {
  --serie-black: hsla(0, 2%, 11%, 1);
  --poppy: hsla(0, 67%, 53%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --viridian: hsla(154, 15%, 49%, 1);
  --platinum: hsla(0, 0%, 87%, 1);
  /* azul mariono */
}

/* Tournament Page */
.tournament-page {
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 5%;
}

.tournament-page__presentation {
  text-align: center;
  margin-bottom: 20px;
}

.tournament-page__title {
  font-size: 2.5rem;
  /* color: #007bf; */
}

/* Formulario */
.tournament-page__form {
  text-align: center;
  margin-bottom: 30px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-registry__title {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #444;
}

.form-registry__field {
  margin-bottom: 15px;
}

.form-registry__label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-registry__input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-registry__button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  background-color: var(--poppy);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-registry__button:hover {
  background-color: #0056b3;
}

/* Información del Torneo */
.tournament-page__info {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.tournament-page__info-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Participantes */
.tournament-page__participants {
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tournament-page__participants-title {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.tournament-page__participants-list {
  list-style: none;
  padding: 0;
}

.tournament-page__participant {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

/* Clasificación */
.tournament-page__ranking-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.tournament-page__ranking {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
